<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ResearchBase.My.MySettings.ResearchBaseConnectionString"
            connectionString="Data Source=AFARTURPC\SQLEXPRESS;Initial Catalog=ResearchBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ResearchBase.My.MySettings.CompanyConnectionString"
            connectionString="Data Source=AFARTURPC\SQLEXPRESS;Initial Catalog=Company;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>